html {
	font-size: 10px;
  min-width: 260px;
}
body {
  color: #434343;
  background: #FFFFFF;
  font-size: 1.6rem;
  /*-webkit-font-smoothing: antialiased;*/
  /*-moz-osx-font-smoothing: grayscale;*/
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
}
a {
  color: #18B0F3;
}
a:hover {
  color: #029FE4;
  text-decoration: none;
}
footer {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.navbar {
  border: 0rem;
  border-radius: 0rem;
  margin-bottom: 0rem;
  color: #FFFFFF;
  /*background-color: #41C0E6;*/
}
.navbar a {
  /*color: #FFFFFF;*/
}
.nav>li>a:focus, .nav>li>a:hover {
  background-color: transparent;
}

.navbar-inverse {
  background-image: -webkit-linear-gradient(top,#404040 0,#0A0A0A 100%);
  background-image: -o-linear-gradient(top,#404040 0,#0A0A0A 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#404040),to(#0A0A0A));
  background-image: linear-gradient(to bottom,#404040 0,#0A0A0A 100%);
}
.navbar-inverse .navbar-nav>li>a {
    color: #FFFFFF;
}
.navbar-inverse .navbar-brand {
    color: #FFFFFF;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}

@media screen and (min-width: 1300px) {
  .container {
    width: 1170px;
  }
}

.jumbotron {
  color: #FFFFFF;
  text-align: right;
  /*background-color: #41C0E6;*/
  background-image: url('http://7xrv3q.com1.z0.glb.clouddn.com/Interstellar.jpg');
  /*background-image: url('../assets/c16b3483-3f6a-433b-acdf-f5ded8beba79.jpg');*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 70%;
}
.jumbotron {
  padding-top: 100px;
  padding-bottom: 100px;
}
.jumbotron h2:first-child {
  margin-top: 50px;
}
.jumbotron h2:last-child {
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .jumbotron h2 {
    font-size: 2rem;
  }
}
.article {
  float: none;
  clear: both;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid #D6D6D6;
}
.article:hover {
  background-color: #FBFBFB;
}
.article .title {
  font-size: 2.5rem;
}
.article .title a:hover {
  text-decoration: none;
}
.article .info {
  font-size: 1.3rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}
.article .info .text {
  margin-left: 0.2rem;
  margin-right: 0.5rem;
}
.article .summary {

}


.thumbnail {
  height: 250px;
  overflow: hidden;
  /*min-height: 240px;*/
  /*max-height: 340px;*/
}

.panel-heading {
    height: 120px;
    background-size: cover;
}

.btn-primary {
    color: #fff;
    border: 1px solid #45A7E0;
    background: #45A7E0;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:visited {
    background-color: #45A7E0!important;
    border-color: #45A7E0!important;
}

